[submodule "ext/winfsp"]
	path = ext/winfsp
	url = https://github.com/billziss-gh/winfsp.git
[submodule "ext/primer-css"]
	path = ext/primer-css
	url = https://github.com/primer/css.git
[submodule "public"]
	path = public
	url = https://github.com/winfsp/winfsp.github.io.git
[submodule "ext/github-syntax-theme-generator"]
	path = ext/github-syntax-theme-generator
	url = https://github.com/primer/github-syntax-theme-generator.git
