.highlight .k,.tok-k { color: #ea4a5a; }
.highlight .kc,.tok-kc { color: #ea4a5a; }
.highlight .kd,.tok-kd { color: #ea4a5a; }
.highlight .kn,.tok-kn { color: #ea4a5a; }
.highlight .kp,.tok-kp { color: #ea4a5a; }
.highlight .kr,.tok-kr { color: #ea4a5a; }
.highlight .kt,.tok-kt { color: #ea4a5a; }
.highlight .nb,.tok-nb { color: #c8e1ff; }
.highlight .bp,.tok-bp { color: #c8e1ff; }
.highlight .nc,.tok-nc { color: #b392f0; }
.highlight .nf,.tok-nf { color: #b392f0; }
.highlight .nl,.tok-nl { color: #c8e1ff; }
.highlight .s,.tok-s { color: #79b8ff; }
.highlight .sa,.tok-sa { color: #79b8ff; }
.highlight .sb,.tok-sb { color: #79b8ff; }
.highlight .sc,.tok-sc { color: #79b8ff; }
.highlight .dl,.tok-dl { color: #79b8ff; }
.highlight .sd,.tok-sd { color: #79b8ff; }
.highlight .s2,.tok-s2 { color: #79b8ff; }
.highlight .se,.tok-se { color: #79b8ff; }
.highlight .sh,.tok-sh { color: #79b8ff; }
.highlight .si,.tok-si { color: #79b8ff; }
.highlight .sx,.tok-sx { color: #79b8ff; }
.highlight .sr,.tok-sr { color: #79b8ff; }
.highlight .s1,.tok-s1 { color: #79b8ff; }
.highlight .ss,.tok-ss { color: #79b8ff; }
.highlight .m,.tok-m { color: #c8e1ff; }
.highlight .mb,.tok-mb { color: #c8e1ff; }
.highlight .mf,.tok-mf { color: #c8e1ff; }
.highlight .mh,.tok-mh { color: #c8e1ff; }
.highlight .mi,.tok-mi { color: #c8e1ff; }
.highlight .il,.tok-il { color: #c8e1ff; }
.highlight .mo,.tok-mo { color: #c8e1ff; }
.highlight .c,.tok-c { color: #959da5; }
.highlight .ch,.tok-ch { color: #959da5; }
.highlight .cm,.tok-cm { color: #959da5; }
.highlight .cp,.tok-cp { color: #c8e1ff; }
.highlight .cpf,.tok-cpf { color: #79b8ff; }
.highlight .c1,.tok-c1 { color: #959da5; }
.highlight .cs,.tok-cs { color: #959da5; }
