{{- $columns := (split (.Parent.Get "columns") " ") -}}
{{- $spacing := .Parent.Get "spacing" -}}
{{- $boxclass := .Parent.Get "boxclass" -}}

{{- .Parent.Scratch.Add "index" 1 -}}
{{- $newindex := .Parent.Scratch.Get "index" -}}
{{- $index := sub $newindex 1 -}}

{{- $newcolidx := mod $newindex (len $columns) -}}
{{- $colidx := mod $index (len $columns) -}}
{{- $rowidx := div $index (len $columns) -}}

{{- $col := index $columns $colidx -}}

<div class="col-12 col-md-{{ $col }} d-flex flex-content-stretch p-{{ $spacing }}">
  <div class="{{ $boxclass }} width-full p-{{ $spacing }}">
    {{ .Inner }}
  </div>
</div>
