<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="{{ `css/primer.css` | relURL }}" />
    <link rel="stylesheet" href="{{ `css/site.css` | relURL }}" />
  </head>
  <body class="bg-white text-gray-dark">
    <div id="container" class="container-lg clearfix">

      <div id="top" class="d-block d-md-none">
        <div class="clearfix bg-gray-light border-bottom p-3">
          {{ if fileExists .Site.Params.Logo -}}
            <img src="{{ .Site.Params.Logo | relURL }}" class="float-left mr-3 auto-invert" style="height:32px;" />
          {{- end }}
          <h1 class="f2-light text-uppercase float-left">{{ .Site.Title }}</h1>
          <details class="dropdown details-reset details-overlay float-right">
            <summary class="btn-octicon" aria-haspopup="true">
              <img src="{{ `svg/three-bars.svg` | relURL }}" class="auto-invert" />
            </summary>
            <ul class="dropdown-menu dropdown-menu-w">
              {{ range .Site.Menus.main -}}
                <li><a class="dropdown-item" href="{{ .URL }}">{{- .Name -}}</a></li>
              {{- end }}
            </ul>
          </details>
        </div>
      </div>

      <div id="side" class="col-md-3 float-left d-none d-md-block">
        <div class="p-3" style="min-height:100vh">
          {{ if fileExists .Site.Params.Logo -}}
            <img src="{{ .Site.Params.Logo | relURL }}" class="mb-3 width-fit auto-invert" />
          {{- end }}
          <h1 class="f1-light text-uppercase text-center mb-3">{{ .Site.Title }}</h1>
          <nav class="SideNav border">
            {{- $RelPermalink := .RelPermalink -}}
            {{ range .Site.Menus.main -}}
              {{- $current := or (eq $RelPermalink .URL) (and (ne .URL "/") (hasPrefix $RelPermalink .URL)) -}}
              <a class="SideNav-item" href="{{ .URL }}" {{ if $current }}aria-current="page"{{ end }}>
                {{- .Name -}}
              </a>
              {{ if and $current (eq .Post "pages") -}}
                <nav class="SideNav py-2 pl-3">
                  {{ range ($.GetPage .URL).Pages -}}
                    <a class="SideNav-subItem" href="{{ .RelPermalink }}" {{ if eq . $ }}aria-current="page"{{ end }}>
                      {{- .Name -}}
                    </a>
                  {{- end }}
                </nav>
              {{- end }}
            {{- end }}
          </nav>
        </div>
      </div>

      <div id="main" class="col-12 col-md-9 float-left">
        <div class="p-3 markdown-body" style="min-height:100vh">
          <h1>{{ .Title }}</h1>
          {{- block "main" . }}{{ end -}}
        </div>
      </div>

    </div>
  </body>
</html>
